{% extends "base/base.html" %}

{% block title %}
Home
{% endblock %}

{% block page_title %}
Home
{% endblock %}

{% block contents %}
<article>
  {% for object in object_list %}
  <ul class="list-group" style="border:1px solid;">
      <li class="list-group-item">投稿名: {{ object.post_name }}</li>
      <li class="list-group-item">投稿日: {{ object.post_date }}</li>
      <li class="list-group-item">投稿内容: {{ object.text }}</li>
      <li class="list-group-item">
        <button type="button" class="btn publish-btn btn-primary">Publish</button>
        <a href="/post/update/{{ object.id }}"><button type="button" class="btn btn-success">Edit</button></a>
        <a href="/post/delete/{{ object.id }}"><button type="button" class="btn btn-danger">Delete</button></a>
    </li>
  </ul>
  {% endfor %}
  {% if object_list %}
    <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if object_list.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1&query={{ request.GET.query }}" tabindex="-1">First</a>
      </li>
      <li class="page-item">
          <a class="page-link" href="?page={{ object_list.previous_page_number }}&query={{ request.GET.query }}">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled"><a class="page-link">First</a></li>
      <li class="page-item disabled"><a class="page-link">Previous</a></li>
      {% endif %}
      <li class="page-item disabled"><a class="page-link">{{ object_list.number }}</a></li>
      {% if object_list.has_next %}
      <li class="page-item">
          <a class="page-link" href="?page={{ object_list.next_page_number }}&query={{ request.GET.query }}">Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ object_list.paginator.num_pages }}&query={{ request.GET.query }}">Last</a>
      </li>
      {% else %}
      <li class="page-item disabled"><a class="page-link">Next</a></li>
      <li class="page-item disabled"><a class="page-link">Last</a></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</article>
{% endblock %}
