<!DOCTYPE html>
{% load static %}
<html>
<head>
   <meta charset="UTF-8">
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <!-- Bootstrap core JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.0.min.js"
      integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
      crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %} | Sample App</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}"/>
    {% block css %}{% endblock %}
</head>
<body>
   <header>
        <h1 class="m-3">{% block page_title %}{% endblock %}</h1>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item" >
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/post">Post</a>
              </li>
              <li class="nav-item">
                <form class="form-inline" method="get" action="/search">
                  <input class="form-control mr-sm-2" type="search" name="word" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </li>
            </ul>
          </div>
          <div class="form-inline my-2 my-lg-0">
            <a class="nav-link" href="/signin">SignIn <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="/signup">SignUp <span class="sr-only">(current)</span></a>
            <!--a class="nav-link" href="/signout">Sign Out <span class="sr-only">(current)</span></a-->
          </div>
        </nav>
   </header>

   {% if message %}
   {% if message_type == 'error' %}
   <div class="alert alert-danger" role="alert" style="margin-bottom:0px">{{ message }}</div>
   {% elif message_type == 'warning' %}
   <div class="alert alert-warning" role="alert" style="margin-bottom:0px">{{ message }}</div>
   {% elif message_type == 'primary' %}
   <div class="alert alert-primary" role="alert" style="margin-bottom:0px">{{ message }}</div>
   {% elif message_type == 'success' %}
   <div class="alert alert-success" role="alert" style="margin-bottom:0px">{{ message }}</div>
   {% else %}
   <div class="alert alert-info" role="alert" style="margin-bottom:0px">{{ message }}</div>
   {% endif %}
   {% endif %}

   {% block contents %}{% endblock %}

   <footer class="footer">
        <div class="container">
            <p class="mt-5 text-center text-muted">presented by k-sasaking.</p>
        </div>
   </footer>
   <script src="{% static 'js/app.js' %}"></script>
   {% block js %}{% endblock %}
</body>
</html>